target
project/target
project/boot
project/plugins/target
project/plugins/project

build/
*.lock
*.DS_Store
.metadata/
*.class
*.swp
*.out
.classpath
.project
.idea/
dist/
target/
.checkstyle
.settings/
*.log
*.scc
*.ser
.cache
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.target/
.history
